AIRFLOW_UID=50000

AIRFLOW__SMTP__SMTP_HOST=smtp.gmail.com
AIRFLOW__SMTP__SMTP_PORT=587
AIRFLOW__SMTP__SMTP_USER=your_email_here
AIRFLOW__SMTP__SMTP_PASSWORD=your_app_password_here
AIRFLOW__SMTP__SMTP_MAIL_FROM=your_email_here

# Warehouse (Postgres)
WAREHOUSE_USER=warehouse
WAREHOUSE_PASSWORD=warehouse
WAREHOUSE_DB=warehouse
WAREHOUSE_HOST=postgres-warehouse
WAREHOUSE_PORT=5432


# Airflow connection string (used as AIRFLOW_CONN_WAREHOUSE_DB)
# Format: postgresql://USER:PASSWORD@HOST:PORT/DB
AIRFLOW_CONN_WAREHOUSE_DB=postgresql://warehouse:warehouse@postgres-warehouse:5432/warehouse
